# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# SSL Certificates
nginx/ssl/

# Database dumps
*.sql

# MySQL data
mysql_data/

# Database
*.db

# Uploads
uploads/

# macOS
.DS_Store

# Docker
docker-compose.override.yml
